@media only screen and(max-width: 400px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    #video {
        width: 80vw;
        height: auto;
    }
    
    .images {
        display: grid;
        width: 80vw;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .links {
        display: grid;
        grid-template-rows: 7vw 7vw 7vw;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}

@media only screen and(min-width: 401px) {
    * {
        margin: 0px;
        padding: 0px;
    } 
}

@media only screen and(min-width: 900px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    
    .links {
        display: grid;
        grid-template-rows: 7vw 7vw 7vw;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    body {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    #video {
        width: 80vw;
        height: auto;
    }
    
    .images {
        display: grid;
        width: 80vw;
        height: auto;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
    }
    
    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    #video {
        width: 80vw;
        height: auto;
    }
    
    .images {
        display: grid;
        width: 80vw;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    
    
}